header{
    color: white;
    background-color:rgb(50, 79, 136);;
    padding: 2%;
    margin:10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 4px solid;
    border-color: black;
    border-radius: 10px;
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    text-align: center;
}


main{
    margin: 10px;
    margin-top: 20px;
    padding:20px;
    align-items:stretch;
    height: 700px;
    display: flex;
    border: 5px solid;
    border-color: black;
    border-radius: 10px;
    background-color:rgb(46, 76, 136);;
    margin: 10px;
}

.div1{
    color: white;
    padding: 10px 10px 10px 10px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 8px;
    border: 3px solid black;
    width: 45%;
    height: 85%;
    margin: 70px;
    margin-top: 30px;
    background-color:rgb(115, 115, 224);;

}

.div2{ 
    color: white;
    padding: 10px 10px 10px 10px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 8px;
    border: 3px solid black;
    width: 45%;
    height: 85%;
    margin: 90px;
    margin-top:30px;
    background-color: rgb(115, 115, 224);

}

.hovered{
    background-color: lightsalmon;
}

 /* Estilo da janela modal */
 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    background-color: wheat;
    margin: 10% auto;
    border: 10px solid #171515;
    width: 80%;
    max-width: 800px;
    height: 40%;
    max-height: 800px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.locked{
    pointer-events: none;
    opacity: 0.5;
}

P{
    margin-top: 4px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    padding: 4px;;
}

.botao{
    
    margin-top: 10px;
    font-size: 25px;
    padding: auto;
    width: 100%;
    height: 50px;

}

.botao2{
    margin-top: 10px;
    font-size: 25px;
    padding: 2px;
    width: 100%;
    height: 50px;

}
.caixa{
    text-align: center;
    margin-top: 10px;
    padding: auto;
    border: 2px solid color black;
    font-size: 25px;
    width: 100%;
    height: 50px;

}
body{
    background-color: rgb(98, 131, 197);;
}
